{% extends 'base.html.twig' %}
{% block body %}
    <img src="{{ asset('Front/img/desktop.jpg') }}" alt="esprit" class="img-fluid">
    <div class="caption text-center d-flex flex-column align-items-center ">
        <h1>Welcome</h1>
        <a href="#" class="btn btn-outline-dark btn-lg">Get started</a>
    </div>
    <!-- Start About section-->
<div class="container" id="about">
    <div class="border-top border-dark w-100 mx-auto"></div>
    <div class="row my-5">

        <div class="col-md-4 my-3">
            <img src="{{ asset('Front/img/1.jpg') }}" alt="" class="w-100 img-fluid">
            <h4 class="my-4">Plan</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam itaque quas modi sunt aspernatur
                assumenda autem pariatur!</p>
            <a href="#" class="btn btn-outline-dark btn-md">Our Story</a>
        </div>

        <div class="col-md-4 my-3">
            <img src="{{ asset('Front/img/2.jpg') }}" alt="" class="w-100 img-fluid">
            <h4 class="my-4">Execute</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam itaque quas modi sunt aspernatur
                assumenda autem pariatur!</p>
            <a href="#" class="btn btn-outline-dark btn-md">Our Story</a>
        </div>

        <div class="col-md-4 my-3">
            <img src="{{ asset('Front/img/3.jpg') }}" alt="" class="w-100 img-fluid">
            <h4 class="my-4">Deliver</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam itaque quas modi sunt aspernatur
                assumenda autem pariatur!</p>
            <a href="#" class="btn btn-outline-dark btn-md">Our Story</a>
        </div>

    </div>

    <div class="border-top border-dark w-100 mx-auto my-3"></div>
</div>

<!-- End About section -->

<!-- Start Fixed Background IMG -->

<div class="fixed-background service-background" id="service">
    <div class="row text-light py-sm-1 py-md-2 py-lg-5 services">
        <div class="col-12 text-center">
            <h1>Advance to the next level</h1>
            <h3 class="py-4">
                ..See what's next...
            </h3>
            <a href="#" class="btn btn-primary btn-lg mr-2">Blue Pill</a>
            <a href="#" class="btn btn-danger btn-lg ml-2">Red Pill</a>

        </div>
    </div>
    <div class="fixed-wrap service-wrap">
        <div class="fixed service-inner">
            <img src="{{ asset('Front/img/matrix.jpg') }}" alt="" class="img-fluid">
        </div>
    </div>
</div>

<!-- End Fixed Background IMG -->
    <!-- Start About contact-->
<div id="contact" class=" mt-5">
    <div class="col-12 text-center mt-5">
        <div class="border-top border-dark w-25 mx-auto my-5"></div>
        <h1 class="text-dark pt-4 my-5">Built with ease</h1>
        <div class="border-top border-dark w-25 mx-auto my-5"></div>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda hic, magni fuga accusantium
            nulla ratione odit praesentium? Maiores in veniam accusamus cupiditate necessitatibus. Perspiciatis ab
            aliquam quod fugiat commodi atque.</p>
        <p class="lead mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum ullam vitae id
            veritatis quidem eaque ratione, excepturi minima porro dicta. Voluptatem maxime magnam illo aliquam corporis
            provident sunt sequi?</p>
        <a href="#" class="btn btn-outline-dark btn-lg mb-5">Contact Us</a>
    </div>
</div>
    <!-- End About section -->

{% endblock %}
