{% extends 'baseAdmin.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="x_panel">
    <div class="x_title">
        <h2>Post <small> List </small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('post_delete', {'slug': post.slug}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('post_new') }}" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i>Create new</a>

        </div>
    </div>
</div>

{% endblock %}
